body {
    background-color: rgb(255, 255, 255);
    position: absolute;



}

html {
    width: 100vw;
    position: absolute;
}

.contenedor {}

.abrigos{
    background-color: gray;
    border-radius: 1vw;
    opacity: 50%;
    width: 12vw;
    height: 2vw;
    display: flex;
    align-items: center;
}


.campusShop .todos {
    display: flex;
    flex-direction: column;
}

.shop p {
    margin-top: 4vw;
    font-size: 2.5vw;
    margin-left: 4vw;
}

.todos img {
    width: 1.5vw;
    margin-right: 2vw;
}

.todos a {
    margin-top: 3vw;
    font-size: 1vw;
    margin-left: 4vw;
    text-decoration: none;
    color: #000;

}




.todos a:hover {
    color: white;
    background-color: #000;
    opacity: 50%;
    width: 13vw;
    height: 2vw;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    transition: 0.5s;
}

.carritos {
    margin-top: 7vw;
    font-size: 1vw;
    margin-left: 4vw;
}

.carritos a {
    text-decoration: none;
    color: #000;

}

#numero{
    width: 3vw;
    height: 1.5vw;
    margin-left: 2vw;
}

.carritos a:hover {
    color: white;
    background-color: #000;
    opacity: 50%;
    width: 15vw;
    height: 2vw;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    transition: 0.5s;
}

.carritos img {
    width: 1.5vw;
    margin-right: 2vw;
}

.camper {
    margin-top: 8vw;
    font-size: 1vw;
    margin-left: 5vw;

}

.caja {
    display: flex;
    margin-left: 20vw;
    background-color: black;
    width: 75vw;
    flex-wrap: wrap;
    margin-top: -45vw;
    border-radius: 2vw;

}

#abrigo{
    color: white;
    font-size: 3vw;
    margin-right: 50vw;
    margin-bottom: -1vw;
    margin-top: 1vw;
    margin-left: 5vw;
}

.caja img {
    width: 8vw;

    display: flex;
    justify-content: start;
    margin-left: 4vw;
}

.caja p {
    font-size: 1vw;
    text-align: center;
    margin-left: 1vw;

}

.nombre {
    color: black;
}

.uno {

    background-color: white;

    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vw;
    
    margin-left: 4.5vw;
    margin-right: 2vw;
    width: 15v
}



.dos {
    background-color: white;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vw;
    margin-right: 2vw;
    width: 15v
}

.precioUno {
    background-color: gray;
    border-radius: 0vw 0vw 2vw 2vw;
    width: 15vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.botonUno {
    width: 5vw;
    height: 3vw;
    font-size: 1vw;
    margin-left: 1vw;
    border-radius: 0vw 0vw 2vw 0vw;
}

.precioUno p {
    
    margin-right: 0.5vw;
}



.precioDos {
    background-color: gray;
    border-radius: 0vw 0vw 2vw 2vw;
    width: 15vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.1vw;
    

}

.precioDos p {
    
    margin-right: 0.5vw;
}

.botonDos {
    width: 5vw;
    height: 3vw;
    font-size: 1vw;
    margin-left: 1vw;
    border-radius: 0vw 0vw 2vw 0vw;
}

.precioTres {
    background-color: gray;
    border-radius: 0vw 0vw 2vw 2vw;
    width: 15vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.7vw;
   
}

.precioTres p {
    
    margin-right: 0.5vw;
}

.letra{
    
}


.botonTres {
    width: 5vw;
    height: 3vw;
    font-size: 1vw;
    margin-left: 1vw;
    border-radius: 0vw 0vw 2vw 0vw;
}


.precioCuatro {
    background-color: gray;
    border-radius: 0vw 0vw 2vw 2vw;
    width: 15vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
}

.precioCuatro p{
    
    

}
.botonCuatro{
    width: 5vw;
    height: 3vw;
    font-size: 1vw;
    margin-left: 1vw;
    border-radius: 0vw 0vw 2vw 0vw;
}

.precioCinco{
    background-color: gray;
    border-radius: 0vw 0vw 2vw 2vw;
    width: 15vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.precioCinco p{
    
}

.botonCinco{
    width: 5vw;
    height: 3vw;
    font-size: 1vw;
    margin-left: 1vw;
    border-radius: 0vw 0vw 2vw 0vw;
}
.tres {
    background-color: white;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vw;
    margin-right: 2vw;
    width: 15vw;
}

.cuatro {
    background-color: white;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vw;
   margin-right: 2vw;
    width: 15vw;
}

.cuatro img{
    height: 10vw;
}

.cinco {
    background-color: white;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1vw;
    margin-left: 4.5vw;
    width: 15vw;
    margin-bottom: 2vw;
}