body {
    background-color: rgb(255, 255, 255);
    position: absolute;



}

.contenedor {
    display: flex;
    justify-content: space-between;
}


.campusShop .todos {
    display: flex;
    flex-direction: column;
    width: 20vw;
    min-width: 12em;
}
label{
    display: none;
}
input{
    display: none;
}
@media screen and (max-width:520px) {
    .menu{
        display: none;
        
    }
    label{
        display: block;
    }
    
}
#MenuHamburguesa:checked ~ .menu{
    position: absolute;
    background-color: white;
    z-index: 2;
    display: block;
    top: 2rem;
    width: 100%;
}
.todos img {
    width: 1.2em;
    margin-right: 2em;
}

.todos a{
    text-decoration: none;
    color: #000;
    line-height: 3em;
}

.carritos {
    line-height: 10em;
}
.carritos img{
    width: 1.2em;
    margin-right: 2em;
}

#numero{
    width: 2em;
    height: 1.5em;
    margin-left: 1em;
}

.carritos a {
    text-decoration: none;
    color: #000;
}
.camper {
    line-height: 20em;
}

.caja {
    background-color: black;
    height: 45em;
    overflow-y: scroll;
    margin-left: 2em;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2em;
    padding: 1em;
    gap: 1em;
    justify-content: center;
}
.caja p {
    text-align: center;
}

.nombre {
    color: black;
}
.caja img{
    height: 10em;
}
.uno, .dos, .tres,.cuatro,.cinco {
    background-color: white;
    border-radius: 2em;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}
.unoC, .dosC, .tresC,.cuatroC,.cincoC {
    background-color: white;
    border-radius: 2em;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}
.unoP, .dosP, .tresP,.cuatroP,.cincoP {
    background-color: white;
    border-radius: 2em;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}


